In [8]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\saura\new folder\lib\site-packages (4.10.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\saura\new folder\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\saura\new folder\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\saura\new folder\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\saura\new folder\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sortedcontainers in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: idna in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\saura\new folder\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\saura\new folder\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\saura\new folder\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\saura\new folder\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\saura\new folder\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

ERROR: Could not find a version that satisfies the requirement webdriver (from versions: none)
ERROR: No matching distribution found for webdriver

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
driver=webdriver.Chrome()

In [15]:
driver.get("https://www.naukri.com/")

In [17]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [21]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [19]:
job_title=[]
experience_required=[]
job_location=[]
company_name=[]

In [23]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [24]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [25]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [26]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [28]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'experience':experience_required,'comapny':company_name})
df

,title,location,experience,comapny
0,Data Analyst,Bangalore/Bengaluru,4-6 Yrs,Eastvantage
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",1-3 Yrs,Delhivery
2,Data Analyst,Bangalore/Bengaluru,2-5 Yrs,Everest Vacuum
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",5-8 Yrs,Synechron
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",5-8 Yrs,Synchron Infotech
5,Data Analyst,Bangalore/Bengaluru,1-5 Yrs,ANZ
6,Data Analyst I,Bangalore/Bengaluru,5-10 Yrs,Cerner
7,Data Analyst,Bangalore/Bengaluru,0-2 Yrs,Persolkelly India
8,Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Paychex It Solutions
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",3-8 Yrs,Truthfools

  Question 2

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
position=driver.find_element(By.CLASS_NAME,'suggestor-input')
position.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
job_position=[]
position_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in position_tags[0:10]:
    position=i.text
    job_position.append(position)

In [10]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [19]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [25]:
import pandas as pd
df=pd.DataFrame({'title':job_position,'location':job_location,'comapny':company_name})
df

,title,location,comapny
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos
4,Data Scientist,Noida,Times Internet
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar
6,Intern,Gurgaon/Gurugram,Tower Research Capital
7,Hiring For Data Scientist,Remote,Infogain
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner

Question 3

In [15]:
driver=webdriver.Chrome()

In [16]:
driver.get("https://www.naukri.com/")

In [17]:
position=driver.find_element(By.CLASS_NAME,'suggestor-input')
position.send_keys('Data Scientist')

In [18]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [20]:
job_position=[]
position_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in position_tags[0:10]:
    position=i.text
    job_position.append(position)

In [21]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [22]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [111]:
experience_required=[]
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [26]:
import pandas as pd
df=pd.DataFrame({'title':job_position,'location':job_location,'experience':experience_required,'comapny':company_name})
df

,title,location,experience,comapny
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",0-2 Yrs,Analytos
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Blackbuck
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",1-6 Yrs,Dreambig It Solutions India
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",2-4 Yrs,Analytos
4,Data Scientist,Noida,3-8 Yrs,Times Internet
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",3-8 Yrs,Thescholar
6,Intern,Gurgaon/Gurugram,0-1 Yrs,Tower Research Capital
7,Hiring For Data Scientist,Remote,4-9 Yrs,Infogain
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",1-6 Yrs,Adidas
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,2-4 Yrs,Gartner


Question 7

In [164]:
driver=webdriver.Chrome()

In [165]:
driver.get("https://www.amazon.in/")

In [102]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [105]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [112]:
Product_title=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    Product_title.append(title)

In [113]:
Product_rating=[]
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rating=i.text
    Product_rating.append(rating)

In [114]:
Product_price=[]
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    Product_price.append(price)

In [115]:
import pandas as pd
df=pd.DataFrame({'title':Product_title,'rating':Product_rating,'price':Product_price})
df

                                               title rating   price
0  Lenovo IdeaPad Slim 3 Chromebook Intel Celeron...         18,990
1  HP Chromebook 15a Intel Celeron N4500 15.6inch...         23,990
2  Acer Aspire Lite 11th Gen Intel Core i3-1115G4...         32,990
3  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...         79,990
4  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...         36,990
5  Xiaomi Notebook Pro Max 11th Gen Intel Core i5...         45,990
6  HP Laptop 15s, 12th Gen Intel Core i3-1215U, 1...         44,990
7  Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...         71,990
8  Acer Aspire Lite 11th Gen Intel Core i5-1155G7...
9  (Renewed) HP Chromebook 13 G1 6th Gen Intel Co...

Question 4

In [376]:
driver = webdriver.Chrome()

In [377]:
url="https://www.flipkart.com/"
driver.get(url)

In [382]:
search= driver.find_element(By.XPATH,"//input[@type='text']")
search.send_keys('sunglasses')

In [384]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [385]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [389]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
        B_name[:100]
    
    for k in p_desc:
        P_desc.append(k.text)
        P_desc[:100]
    
    for l in price:
        Price.append(l.text)
        Price[:100]
    
    for t in discount:
        Discount.append(t.text)
        Discount[:100]

In [392]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [396]:
import pandas as pd
df=pd.DataFrame({})
df['Brand']=B_name[:100]
df['Price']=Price[:100]
df['Description']=P_desc[:100]
df['Discount']=Discount[:100]

In [397]:
df

             Brand                Price     Description Discount
0      john jacobs  ₹2,399₹5,00052% off     john jacobs  52% off
1    VINCENT CHASE    ₹949₹1,99952% off   VINCENT CHASE  52% off
2            SDEEP      ₹185₹96680% off           SDEEP  80% off
3        Elligator      ₹168₹59971% off       Elligator  71% off
4             SRPM    ₹194₹1,29985% off            SRPM  85% off
..             ...                  ...             ...      ...
95      Cool enter      ₹199₹99980% off      Cool enter  72% off
96  ROZZETTA CRAFT      ₹275₹99972% off  ROZZETTA CRAFT  75% off
97   VINCENT CHASE    ₹263₹1,49982% off   VINCENT CHASE  81% off
98            Shiv    ₹826₹1,09924% off            Shiv  35% off
99         ROADWAY    ₹152₹1,29988% off         ROADWAY  66% off

[100 rows x 4 columns]

Question 6

In [398]:
driver = webdriver.Chrome()

In [403]:
url="https://www.flipkart.com/"
driver.get(url)

In [401]:
search=driver.find_element(By.XPATH,"//input[@type='text']")
search.send_keys('sneakers')

In [404]:
search_btn=driver.find_element(By.CLASS_NAME,'_2iLD__')
search_btn.click()

In [405]:
B_name=[]
Price=[]
P_desc=[]

In [409]:
:for i in range(3)
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    
    
    for j  in b_name:
        B_name.append(j.text)
        B_name[:100]
    
    for k in p_desc:
        P_desc.append(k.text)
        P_desc[:100]
    
    for l in price:
        Price.append(l.text)
        Price[:100]

In [410]:
import pandas as pd
df=pd.DataFrame({})
df['Brand']=B_name[:100]
df['Price']=Price[:100]
df['Description']=P_desc[:100]
df['Discount']=Discount[:100]

In [411]:
df

        Brand              Price Description Discount
0       BIRDE  ₹479₹1,99876% off       BIRDE  52% off
1      Airson  ₹989₹2,19955% off      Airson  52% off
2    Magnolia  ₹499₹1,29961% off    Magnolia  80% off
3      BRUTON  ₹299₹1,29976% off      BRUTON  71% off
4       asian  ₹799₹1,69952% off       asian  85% off
..        ...                ...         ...      ...
95  shoemania  ₹999₹1,59937% off   shoemania  72% off
96      Zixer    ₹399₹99960% off       Zixer  75% off
97       osin    ₹539₹99946% off        osin  81% off
98   Nobelite  ₹399₹1,99980% off    Nobelite  35% off
99   Magnolia  ₹989₹2,19955% off    Magnolia  66% off

[100 rows x 4 columns]

In [451]:
driver = webdriver.Chrome()

In [452]:
driver.get('https://www.azquotes.com/')

In [453]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search_btn.click()

In [454]:
T_quote=[]
Author=[]
B_desc=[]

In [455]:
for i in range(10):
    t_quote=driver.find_elements(By.XPATH,"//a[@class='title']")
    author=driver.find_elements(By.XPATH,"//div[@class='author']")
    b_desc=driver.find_elements(By.XPATH,"//div[@class='tags']")
    
    for j  in t_quote:
        T_quote.append(j.text)
        T_quote[:100]
        
    for k  in author:
        Author.append(k.text)
        Author[:100]
        
    for l  in b_desc:
        B_desc.append(l.text)
        B_desc[:100]

In [456]:
print(len(T_quote[:100])),print(len(Author[:100])),print(len(B_desc[:100]))

100
100
100

(None, None, None)

In [457]:
import pandas as pd
df=pd.DataFrame({})
df['Top Quote']=t_quote
df['Author']=Author
df['Description']=B_desc

ValueError: Length of values (1000) does not match length of index (100)

Question no 5 link has been moved or deleted

In [458]:
driver = webdriver.Chrome()

In [459]:
url="https://www.motor1.com/"
driver.get(url)

In [461]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys('50 most expensive cars')

In [465]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_btn.click()

In [467]:
search1=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
search1.click()

In [468]:
car_name=[]
Price_list=[]

In [484]:
Car_name=driver.find_elements(By.TAG_NAME,"//h3[@class='subheader']")
Price_list=driver.find_elements(By.TAG_NAME,"<p>")

for i in car_name:
    Car_name.append(i.text)
    Car_name[:40]
    
    for j in price_list:
        Price_list.append(j.text)
        Price_list[:40]

In [485]:
import pandas as pd
df=pd.DataFrame({})
df['Expensive cars']=Car_name[:40]
df['Price']=price_list[:40]

In [486]:
df

    Expensive cars   Price
0              NaN    ₹490
1              NaN    ₹263
2              NaN    ₹185
3              NaN    ₹194
4              NaN    ₹168
5              NaN    ₹199
6              NaN    ₹249
7              NaN    ₹949
8              NaN    ₹826
9              NaN    ₹152
10             NaN    ₹183
11             NaN    ₹497
12             NaN    ₹199
13             NaN    ₹249
14             NaN    ₹183
15             NaN    ₹194
16             NaN    ₹379
17             NaN  ₹6,000
18             NaN    ₹249
19             NaN    ₹372
20             NaN    ₹678
21             NaN    ₹419
22             NaN    ₹335
23             NaN    ₹256
24             NaN    ₹490
25             NaN    ₹499
26             NaN    ₹499
27             NaN    ₹499
28             NaN    ₹249
29             NaN    ₹748
30             NaN    ₹649
31             NaN    ₹899
32             NaN    ₹882
33             NaN    ₹649
34             NaN    ₹275
35             NaN    ₹749
36             NaN    ₹648
37             NaN    ₹413
38             NaN    ₹612
39             NaN    ₹199

In [487]:
driver=webdriver.Chrome()

In [488]:
driver.get('https://www.flipkart.com/')

In [489]:
search=driver.find_element(By.XPATH,"//input[@type='text']")
search.send_keys('iphone11 64gb black')

In [490]:
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [491]:
search1=driver.find_element(By.CLASS_NAME,"gUuXy-")
search1.click()

In [492]:
R_list=[]
Ra_sum=[]
F_rev=[]

In [496]:
for i in range(10):
    r_list=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[1]/div')
    ra_sum=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[1]/p')
    f_rev=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[2]/div')
    
    for j  in r_list:
        R_list.append(j.text)
        R_list[:100]
    
    for k in ra_sum:
        Ra_sum.append(k.text)
        Ra_sum[:100]
    
    for l in f_rev:
        F_rev(l.text)
        F_rev[:100]

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div/div/div[2]/div[3]/div/div/div/div[1]/div"}
  (Session info: chrome=115.0.5790.102); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x003BA813+48355]
	(No symbol) [0x0034C4B1]
	(No symbol) [0x00255358]
	(No symbol) [0x002809A5]
	(No symbol) [0x00280B3B]
	(No symbol) [0x002AE232]
	(No symbol) [0x0029A784]
	(No symbol) [0x002AC922]
	(No symbol) [0x0029A536]
	(No symbol) [0x002782DC]
	(No symbol) [0x002793DD]
	GetHandleVerifier [0x0061AABD+2539405]
	GetHandleVerifier [0x0065A78F+2800735]
	GetHandleVerifier [0x0065456C+2775612]
	GetHandleVerifier [0x004451E0+616112]
	(No symbol) [0x00355F8C]
	(No symbol) [0x00352328]
	(No symbol) [0x0035240B]
	(No symbol) [0x00344FF7]
	BaseThreadInitThunk [0x757500C9+25]
	RtlGetAppContainerNamedObjectPath [0x77667B1E+286]
	RtlGetAppContainerNamedObjectPath [0x77667AEE+238]